@import "../../scss/colors";
@import "../../scss/base";

.fleetContainer {

  margin: 0 auto;
  width: 100%;
  min-height: 600px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .fleetCars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    .car-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 100%;
      border: 1px solid black;
      border-radius: 10px;

      .carImg {
        margin-bottom: 20px;
        width: 100%;
        height: 300px;

        img {
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }


      }

      .carInfo {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .carPrize {
        display: block;
        margin-top: 10px;
        text-align: center;
      }

      .contact {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }

      .Booking-car {
        display: flex;
        text-transform: uppercase;
        font-weight: bold;
        justify-content: center;
        border: none;
        width: 200px;
        margin: 10px auto;
        padding: 10px 20px;
        border-radius: 10px;
        color: $color-white;
        background-color: lightgrey;

      }
    }
  }
     .Book-Car-Section {
       display: flex;
       align-items: center;
       flex-direction: column;
       margin-top: 100px;
       width: 100%;
       .Book-Car-heading {
         text-align: center;
         text-transform: uppercase;
         margin-bottom: 60px;
         font-weight: bold;
         line-height: 2rem;
          h3 {
            color: $color-white;
          }
       }
         .Book-Car-Box {
           display: none;
           position: relative;
           align-items: center;
           flex-direction: column;
           border: 1px solid lemonchiffon;
           margin-bottom: 100px;
            i {
              position: absolute;
              top: 20px;
              right: 29px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
              color: white;
              border: 2px solid #4a5568;
              height: 40px;
              width: 40px;
              border-radius: 5px;
            }
            .Book-Car-img {
              height: 300px;
              width: 100%;
              padding-bottom: 10px;
               img {
                 width: 100%;
                 height: 100%;
                 object-position: center;
                 object-fit: cover;

               }
            }
           .Book-Car-info {
             text-align: center;
             font-weight: bold;
             color: $color-white;
             padding-bottom: 10px;
           }
          .Book-Car-price {
            color: $color-white;
            font-weight: bold;
            padding-bottom: 10px;
          }
           .concat {
             color: $color-white;
             font-weight: bold;
             margin-bottom: 50px;
           }
           .calender {
             margin-bottom: 50px;
           }
           .Book {
             border: 1px solid grey;
             background: none;
             color: $color-white;
             text-transform: uppercase;
             font-weight: bold;
             padding: 10px 20px;
             border-radius: 10px;
             margin-bottom: 100px;
           }
         }
       .hide {
         display: none;
       }
       .show {
         display: flex;
       }
     }

}


.slide {
  width: 100%;
  height: 530px;

  .slick-track {
    display: flex;
    gap: 20px;
  }

  .slick-next {
    position: absolute;
    top: -10px;
    right: 20px;
  }

  .slick-prev {
    position: absolute;
    top: -10px;
    left: 20px;
  }
}


